.crate-row .image {
    min-height: 282px;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
@media (min-width: 992px) {
    .crate-row .image {
        max-width: 100%;
        margin-left: 1.5rem;
    }
}
.crate-row .image .regular, .crate-row .image .hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: center/cover;
}
.package {
    grid-template-rows: auto 1fr;
}
.package .image {
    padding: 40px 0 0;
    height: 260px;
    box-sizing: content-box;
}
.package .image .bg-block {
    top: 100px;
}
.package .image img {
    max-width: 90%;
    max-height: 240px;
    margin: 0 auto;
}
.package .text {
    grid-template-rows: 1fr auto auto;
}
.package .quality-bar {
    background: #eb4be5;
}